#container {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 320px);
    height: 100vh;
}

.meta-header {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    display: flex;
    justify-content: space-between;
}

#appScreen {
    /* border-width: 2px;
    border-style: solid;
    border-color: black; */
    width: var(--screenWidth);
    height: var(--screenHeight);
    background-color: white;
}