/* Header */
header {
    width: calc(100%);
    margin: auto;
    height: 64px;
    padding: var(--narrow-margin);
    position: sticky;
    top: 0;
    transform: translateZ(1px);
    z-index: 11;
    transition: var(--transition-slow);
    transition-property: transform;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-header);
  }
  header.is-hidden {
    transform: translateY(-8rem) translateZ(1px);
  }
  @media (max-width: 800px) {
    header.is-hidden {
      transform: translateY(-24rem) translateZ(1px);
    }
  }
  nav {
    width: 100%;
    height: 100%;
    /* display: inline-block; */
    display: flex;
    background-color: var(--bg-color-header);
    transition: var(--transition-slow);
    transition-property: color, background-color;
    align-items: center;
    margin-left: var(--td-inner-padding);
  
    justify-content: space-between;
  }
  nav ul {
    /* height: 2.5rem; */
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    /* margin: 2rem 4rem 0 0; */
    transition: var(--transition-fast);
    transition-property: color, background-color;
  }
  nav ul li:not(:last-child) {
    margin-right: 1rem;
    transition: var(--transition-slow);
    transition-property: transform;
  }
  nav ul li:last-child {
    /* margin-left: auto; */
  }
  nav ul li:nth-last-child(1) {
    /* margin-left: auto;
    margin-right: auto; */
  }
  nav ul li {
    display: inline-block;
    margin-bottom: 0;
  }
  nav ul li.is-selected a {
    font-weight: 700;
    color: var(--font-color-primary);
  }
  nav ul li a {
    font-size: 1rem;
    line-height: calc(var(--line-height) * 2);
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    color: var(--font-color-secondary);
    transition: var(--transition-fast);
    transition-property: color;
    padding: 0 30px;
  }
  @media(hover: hover) and (pointer: fine) {
    nav ul li a:hover {
      color: var(--font-color-primary);
    }
  }
  
  .nav-overlay {
    width: 50vw;
    height: 100vh;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 50vw;
    padding: 14rem 4rem 4rem;
    background: var(--bg-color-modal);
    -webkit-backdrop-filter: saturate(180%) blur(2rem);
    backdrop-filter: saturate(180%) blur(2rem);
    z-index: 1;
    transform: translateZ(1px);
    opacity: 1;
    pointer-events: auto;
    transition: var(--transition-slow);
    transition-property: color, background-color, opacity, -webkit-backdrop-filter, backdrop-filter;
  }
  .nav-overlay.is-hidden {
    -webkit-backdrop-filter: saturate(100%) blur(0);
    backdrop-filter: saturate(100%) blur(0);
    opacity: 0;
  }
  .nav-overlay input {
    width: 100%;
    padding: 2rem;
    color: var(--font-color-secondary);
    background-color: var(--bg-color-card);
    transition: var(--transition-fast);
    transition-property: color, background-color;
    pointer-events: auto;
  }
  /* .logo {
    position: absolute;
    top: 4rem; left: 8rem;
    transform-origin: left top;
    z-index: 100;
  } */
  .teams-logo .logo-font path {
    fill: var(--font-color-primary);
    transition: var(--transition-fast);
    transition-property: fill;
    opacity: 0;
  }
  
  /* @media (max-width: 800px) {
    header {
      height: 7rem;
    }
    nav ul li a {
      font-size: 2rem;
    }
    .logo {
      top: 2rem; left: 4rem;
    }
    .nav-overlay {
      height: calc(100vh - 7rem);
      top: 7rem;
    }
  }
  @media (max-width: 1280px) {
    nav ul li:not(:nth-child(1)):not(:last-child) {
      display: none;
    }
    nav ul li:last-child {
      margin: 0 0 0 auto !important;
    }
  }
  @media (min-width: 1920px) {
    header {
      max-width: 1920px;
      margin: 0 auto -13rem;
    }
  } */
  
  .navbar-toggle {
    display: none;
  }
  
  #closeIcon {
    display: none;
  }
  
  .navbar-collapse {
    background-color: var(--color-white);
  }
  
  .navbar-collapse ul {
    margin-top: var(--narrow-margin);
    margin-bottom: 0;
  }
  
  .navbar-collapse ul li {
    margin-bottom: var(--space-1);
  }
  
  .navbar-collapse ul button {
    margin-bottom: 0;
  }
  
  @media (max-width: 768px) {  
    header {
      height: 3rem;
    }
  
    .navbar-toggle {
      display: block;
      padding: 0;
      color: var(--color-black);
    }
  
    .navbar-collapse {
      display: none;
      position: absolute;
      top: 3rem;
      left: 0;
      width: 100%;
      height: calc(100vh - 3rem);
      padding: var(--narrow-margin);
    }
  
    .navbar-collapse ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: calc(var(--narrow-margin) / 2);
    }
  
    .navbar-collapse ul button {
      margin-bottom: 1rem;
    }
  
    nav ul li a {
      padding: 0;
    }
  
    .navbar-collapse .icon-button {
      padding: 0;
    }
  }
  
  /* custom */
  nav > button {
    margin-left: var(--td-element-margin);
    margin-bottom: 0;
  }
  
  .icon-button {
    padding: 0 8px;
  }

.logo {
    font-weight: bold;
    margin-left: 8px;
}

.hero {
    width: inherit;
    /* background-image: url("../../images/default-image.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: var(--main-margin) 121px 100px 121px;
    margin-bottom: var(--section-margin);
}

.hero__text-container {
    width: 100%;
    max-width: 812px;
    /* height: 362px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero button {
    margin-top: 31px;
    font-size: 20px;
    height: 49px;
}

.jumbo-card {
    display: flex;
    flex-direction: column;
    width: 930px;
    max-width: 100%;
    margin-top: 0;
    margin-right: var(--main-margin);
    margin-bottom: var(--section-margin);
    margin-left: var(--main-margin);
}

.jumbo-card__image-container {
    width: inherit;
    height: 100%;
    margin-bottom: 20px;
}

.jumbo-card p {
    width: inherit;
}

.tabs {
    width: 933px;
    margin-top: 0;
    margin-right: var(--main-margin);
    margin-bottom: var(--section-margin);
    margin-left: var(--main-margin);
}

.tabs h3 {
    margin-bottom: 86px;
}

.tab-menu {
    width: inherit;
    display: flex;
    flex-direction: row;
}

.tab-item:hover {
    background-color: var(--grey-03);
}

button.tab-item {
    width: 221px;
    margin-bottom: 0;
    padding: 14px 16px;
    color: var(--td-dark);
    background-color: var(--grey-02);
}

button.tab-item:not(:last-child) {
    margin-right: var(--narrow-margin);
}

.tab-menu button:hover {
    background-color: var(--grey-03);
    color: var(--color-black);
}

.tab-menu button:disabled {
    background-color: var(--grey-03);
    color: var(--grey-05);
}

.tab-menu button:hover:disabled {
    background-color: var(--grey-03);
    color: var(--grey-05);
}

.tab-menu button.active {
    color: var(--color-black);
    border-bottom: 4px solid var(--grey-06);
    font-weight: bold;
}

.tab-content {
    display: none;
    padding: calc(var(--narrow-margin) * 2) 0px;
}

.table-border thead,
.table-border tbody,
.table-border tfoot,
.table-border tr,
.table-border th,
.table-border td {
    border-bottom: 1px solid black;
}

.table-default {
    margin-bottom: 34px;
}

table input[type='checkbox'] {
    margin-bottom: 0;
}

.table-multiselect__checkbox-container {
    width: 32px;
}

.table-wide__container {
    padding: 0 var(--narrow-margin);
    margin-bottom: var(--section-margin);
}

.table-wide {
    margin-bottom: 34px;
    width: 100%;
}

table:not(.table-multiselect) tr:nth-child(even) {
    background-color: var(--grey-02);
}

.paragraph-medium {
    width: 690px;
}

.paragraph-medium p {
    width: inherit;
}

.horizontal-card {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-right: var(--narrow-margin);
    margin-bottom: var(--section-margin);
    margin-left: var(--narrow-margin);
}

.horizontal-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hotizontal-card__content {
    margin: var(--narrow-margin) 95px var(--narrow-margin) 119px;
}

.horizontal-card__text-container {
    margin-bottom: 32px;
}

.horizontal-card__text-container h5 {
    font-weight: bold;
}

.horizontal-card__text-container h5,
.horizontal-card__text-container p {
    width: inherit;
}

.horizontal-card__image-container {
    width: 50%;
    max-height: 528px;
}

.icon-card-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--section-margin);
}

.icon-card {
    width: 337px;
    height: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--narrow-margin);
}

.icon-card .material-icons {
    font-size: 103px;
    margin-bottom: 24px;
}

.jumbo-image {
    width: inherit;
    margin: 0 var(--narrow-margin) 60px var(--narrow-margin);
}

.jumbo-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.grid-2x1 {
    display: flex;
    flex-direction: row;
    margin: 0 var(--narrow-margin);
    width: inherit;
}

.grid-text-title {
    width: calc(50% - var(--narrow-margin));
    padding-right: 10%;
}

.grid-text-title h3 {
    max-width: 576px;
}

.grid-text__child-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    column-gap: 18px;
    width: 50%;
    margin-bottom: var(--section-margin);
}

.section-title h2 {
    text-align: center;
    margin-bottom: 84px;
}

.card-group {
    width: inherit;
    display: grid;
    /* grid-template-columns: calc(100% / 3); */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 17px;
    margin: 0 var(--narrow-margin) var(--section-margin) var(--narrow-margin);
}

.card-group .card {
    width: 100%;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text__container {
    padding-top: calc(var(--narrow-margin) * 2);
    padding-right: calc(var(--narrow-margin) * 1.5);
    padding-bottom: calc(var(--narrow-margin) * 2);;
    padding-left: calc(var(--narrow-margin) * 1.5);
    background-color: var(--grey-02);
}

.sticky-scroll {
    margin-bottom: var(--section-margin);
    /* display: flex;
    flex-direction: row; */
    margin: 0 var(--narrow-margin) var(--section-margin) var(--narrow-margin);
}

.sticky-content {
    position: sticky;
    top: 94px;
    z-index: 0;
    width: 60%;
}

.sticky-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 32px;
}

.sticky-scroll-images {
    width: 40%;
    margin-left: auto;
    position: relative;
    top: -30px;
    padding-left: 137px;
}

.sticky-scroll-images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 20px;
}

.grid-buttons {
    margin-bottom: var(--section-margin);
    margin-left: var(--main-margin);
}

.grid-buttons__text {
    width: 50%;
    /* padding-left: var(--main-margin); */
}

.grid-buttons__text h3 {
    max-width: 555px;
}

.grid-buttons__buttons {
    display: flex;
    flex-direction: row;
    margin-left: 75px;
    align-items: center;
}

.grid-buttons__buttons button {
    width: 222px;
}

.grid-buttons__buttons button:first-child {
    margin-right: 16px;
}

.large-table__container {
    padding: 0 var(--narrow-margin);
    margin-bottom: var(--section-margin);
}

.large-table__container h4 {
    margin-bottom: 39px;
    text-align: center;
}

.form__conatiner {
    max-width: 930px;
    margin-left: auto;
    padding: var(--narrow-margin);
    margin-bottom: var(--section-margin);
}

.form__container h3,
.form__container p {
    width: 930px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 42px;
}

form label {
    margin-bottom: 8px;
    font-size: 14px;
    margin-left: calc(var( --space-1) / 6);
}

.form__buttons {
    margin-left: auto;
}

.form__buttons button {
    width: 222px;
    margin-left: var(--narrow-margin);
}

footer {
    display: flex;
    flex-direction: column;
    padding: 38px 37px 38px 32px;
    background-color: var(--grey-04);
}

.footer__content h6 {
    font-weight: bold;
}

.footer__link-list {
    display: flex;
    flex-direction: column;
}

.footer__link-list a {
    margin-bottom: 10px;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    border-top: 1px var(--grey-09) solid;
    padding-top: 14px;
}

.footer__bottom a {
    width: 318px;
}

.footer-legal {
    margin-left: 35px;
    width: 318px;
}

/*** Desktop First ***/
/* Smaller than Desktop HD */
@media (max-width: 1200px) {
    /* h1 { font-size: 4.5rem; line-height: 1.2; } */
  }
  
  /* Smaller than desktop */
  @media ( max-width: 992px ) {
    .hero {
      padding: 121px var(--medium-margin) 121px var(--medium-margin);
      margin-bottom: 0;
    }
  
    .jumbo-card {
      width: calc(100% - var(--narrow-margin) * 2);
      margin-top: 0;
      margin-right: var(--narrow-margin);
      margin-bottom: var(--section-margin);
      margin-left: var(--narrow-margin);
    }

    .jumbo-card__image-container {
        width: 100%;
    }

    .jumbo-card__image-container img{
        width: 100%;
    }

    .jumbo-card p {
        width: 75%;
        margin-left: calc(var(--medium-margin) - var(--narrow-margin));
    }

    .tabs {
        width: inherit;
        margin-top: 0;
        margin-right: var(--narrow-margin);
        margin-bottom: var(--section-small-margin);
        margin-left: var(--narrow-margin);
    }

    .table__container {
        width: inherit;
        margin-top: 0;
        margin-right: var(--narrow-margin);
        margin-bottom: var(--section-margin);
        margin-left: var(--narrow-margin);
    }

    .hotizontal-card__content {
        margin-top: var(--narrow-margin);
        margin-right: var(--narrow-margin);
        margin-bottom: var(--narrow-margin);
        margin-left: 0;
    }

    .hotizontal-card__content {
        width: 50%;
    }

    .horizontal-card__image-container {
        width: 50%;
    }

    .horizontal-card__text-container {
        width: 100%;
    }

    .sticky-content {
        width: 50%;
    }

    .sticky-scroll-images {
        width: 50%;
        padding-left: var(--narrow-margin);
    }

    .grid-buttons {
        flex-direction: column;
    }

    .grid-buttons__text {
        width: 100%;
    }

    .grid-buttons__text h3 {
        max-width: 100%;
        text-align: center;
    }

    .grid-buttons {
        margin-left: var(--narrow-margin);
    }
    
    .grid-buttons__buttons {
        margin: auto;
        margin-top: calc(var(--narrow-margin) * 2);
    }

    .form__conatiner {
        width: 100%;
    }
}
  
  /* Smaller than tablet */
  @media (max-width: 768px) {
    .hero {
        padding: var(--narrow-margin);
        margin: var(--section-small-margin) 0;
    }

    .hero button {
        width: 100%;
    }

    .jumbo-card p {
        width: 100%;
        margin-left: 0;
    }
  
    .jumbo-card {
      margin-bottom: var(--section-small-margin);
    }

    .paragraph-medium {
        width: 100%;
    }

    button.tab-item:not(:last-child) {
        margin-right: calc(var(--narrow-margin) / 2);
    }

    .table__container {
        margin-bottom: calc(var(--section-small-margin) * 2);
    }

    .horizontal-card {
        flex-direction: column-reverse;
        margin-bottom: var(--section-small-margin);
    }

    .horizontal-card__image-container {
        width: 100%;
    }

    .hotizontal-card__content {
        width: 100%;
    }

    .table-wide__container {
        overflow-x: scroll;
        margin-bottom: var(--section-small-margin);
    }

    .icon-card-group {
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: var(--section-small-margin);
    }

    .icon-card {
        width: 100%;
        height: 100%;
        margin-bottom: var(--narrow-margin);
    }

    .grid-2x1 {
        flex-direction: column;
    }

    .grid-text-title {
        width: 100%;
    }

    .grid-text__child-grid {
        width: 100%;
    }

    .grid-text-title {
        padding-right: 0;
        margin-bottom: var(--narrow-margin);
    }

    .grid-text__child-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: var(--narrow-margin);
        column-gap: 18px;
        width: 100%;
        margin-bottom: var(--section-small-margin);
    }

    .section-title h2 {
        text-align: left;
        padding: 0 var(--narrow-margin);
    }

    .card-group {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 17px;
        margin: 0 var(--narrow-margin) calc(var(--section-small-margin)*2) var(--narrow-margin);
    }

    .sticky-scroll {
        margin-bottom: var(--section-small-margin);
    }

    .sticky-content {
        width: 100%;
        position: static;
    }

    .sticky-content img,
    .sticky-content h3 {
        margin-bottom: var(--narrow-margin);
    }

    .sticky-content h3 {
        margin-bottom: var(--narrow-margin);
    }

    .sticky-scroll-images {
        /* width: 100%;
        padding-left: var(--narrow-margin);
        top: 0;
        padding-left: 0; */
        display: none;
    }

    .grid-buttons {
        margin-bottom: var(--section-small-margin);
    }

    .grid-buttons__text h3 {
        text-align: left;
    }

    .grid-buttons__buttons {
        margin-left: 0;
        margin-right: 0;
    }

    .grid-buttons__buttons button {
        width: 100%;
    }

    .large-table__container {
        margin-bottom: var(--section-small-margin);
    }

    .large-table__container h4 {
        text-align: left;
    }

    .large-table__table-content {
        height: 343px;
        overflow: scroll;
    }

    .form__conatiner {
        margin-bottom: var(--section-small-margin);
    }

    .form__buttons {
        margin-left: 0;
    }

    .form__buttons button {
        margin-left: 0;
        width: calc(50% - var(--narrow-margin) / 2);
    }

    .footer__content .three.columns{
        width: 50%;
        height: 250px;
    }
  }
  
  /* Mobile */
  @media (max-width: 576px) {
  }