body {
    color: var(--body-color);
}

header {
    width: 100%;
    margin: auto;
    height: var(--height-header);
    padding: var(--padding-header);
    position: sticky;
    top: 0;
    transform: translateZ(1px);
    z-index: 11;
    transition: var(--transition-slow);
    transition-property: transform;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-bg-color);
  }
  header.is-hidden {
    transform: translateY(-8rem) translateZ(1px);
  }
  @media (max-width: 800px) {
    header.is-hidden {
      transform: translateY(-24rem) translateZ(1px);
    }
  }
  nav {
    width: 100%;
    height: 100%;
    /* display: inline-block; */
    display: flex;
    background-color: var(--body-bg-color);
    transition: var(--transition-slow);
    transition-property: color, background-color;
    align-items: center;
    justify-content: space-between;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    transition: var(--transition-fast);
    transition-property: color, background-color;
    height: var(--height-header);
  }
  nav ul li:not(:last-child) {
    margin-right: var(--nav-margin-right-link);
    transition: var(--transition-slow);
    transition-property: transform;
  }
  nav ul li:nth-last-child(1) {
    /* margin-left: auto;
    margin-right: auto; */
  }
  nav ul li {
    display: inline-block;
    margin-bottom: 0;
  }
  nav ul li.is-selected a {
    font-weight: 700;
    color: var(--body-color);
    background-color: var(--bg-color-header-link);
  }
  nav ul li a {
    font-size: 1rem;
    font-weight: var(--nav-font-weight-link);
    text-decoration: none;
    display: inline-block;
    color: var(--color-header-link);
    background-color: var(--bg-color-header-link);
    transition: var(--transition-fast);
    transition-property: color;
    padding: var(--padding-header-link);
  }
  nav ul li a:hover {
    color: var(--color-header-link);
    background-color: var(--hover-bg-color-header-link);
  }
  nav ul li a:active {
    color: var(--active-color-header-link);
    background-color: var(--active-bg-color-header-link);
  }
  @media(hover: hover) and (pointer: fine) {
    nav ul li a:hover {
      color: var(--hover-color-header-link);
    }
  }
  /* fix here */
  .nav-overlay {
    width: 50vw;
    height: 100vh;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 50vw;
    padding: 14rem 4rem 4rem;
    /* background: var(--bg-color-modal); */
    -webkit-backdrop-filter: saturate(180%) blur(2rem);
    backdrop-filter: saturate(180%) blur(2rem);
    z-index: 1;
    transform: translateZ(1px);
    opacity: 1;
    pointer-events: auto;
    transition: var(--transition-slow);
    transition-property: color, background-color, opacity, -webkit-backdrop-filter, backdrop-filter;
  }
  .nav-overlay.is-hidden {
    -webkit-backdrop-filter: saturate(100%) blur(0);
    backdrop-filter: saturate(100%) blur(0);
    opacity: 0;
  }
  .nav-overlay input {
    width: 100%;
    padding: 2rem;
    color: var(--body-color);
    background-color: var(--body-bg-color);
    transition: var(--transition-fast);
    transition-property: color, background-color;
    pointer-events: auto;
  }
  /* .logo {
    position: absolute;
    top: 4rem; left: 8rem;
    transform-origin: left top;
    z-index: 100;
  } */
  .teams-logo .logo-font path {
    fill: var(--font-color-secondary);
    transition: var(--transition-fast);
    transition-property: fill;
    opacity: 0;
  }
  
  /* @media (max-width: 800px) {
    header {
      height: 7rem;
    }
    nav ul li a {
      font-size: 2rem;
    }
    .logo {
      top: 2rem; left: 4rem;
    }
    .nav-overlay {
      height: calc(100vh - 7rem);
      top: 7rem;
    }
  }
  @media (max-width: 1280px) {
    nav ul li:not(:nth-child(1)):not(:last-child) {
      display: none;
    }
    nav ul li:last-child {
      margin: 0 0 0 auto !important;
    }
  }
  @media (min-width: 1920px) {
    header {
      max-width: 1920px;
      margin: 0 auto -13rem;
    }
  } */
  
  .navbar-toggle {
    display: none;
  }
  
  #closeIcon {
    display: none;
  }
  
  .navbar-collapse {
    background-color: var(--body-bg-color);
  }
  
  .navbar-collapse ul {
    /* margin-top: var(--body-padding-sm); */
    margin-bottom: 0;
  }
  
  .navbar-collapse ul li {
    /* margin-bottom: var(--space-1); */
  }
  
  .navbar-collapse ul button {
    margin-bottom: 0;
  }
  
  @media (max-width: 768px) {  
    header {
      height: 3rem;
    }
  
    .navbar-toggle {
      width: 42px;
      height: 42px;
      display: block;
      padding: 0;
      color: var(--color-secondary-button);
      background-color: var(--bg-color-secondary-button);
      border: none;
      padding: 9px;
    }
  
    .navbar-collapse {
      display: none;
      position: absolute;
      top: 3rem;
      left: 0;
      width: 100%;
      height: calc(100vh - 3rem);
      padding: var(--body-padding-sm);
    }
  
    .navbar-collapse ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: calc(var(--body-padding-sm) / 2);
    }
  
    .navbar-collapse ul a[type=button] {
      margin-bottom: 1rem;
    }
  
    nav ul li a {
      padding: 0;
    }
  
    .navbar-collapse .icon-button {
      padding: 0;
    }
  }
  
  nav > button {
    margin-left: var(--td-element-margin);
    margin-bottom: 0;
  }
  
  .icon-button {
    padding: 0 8px;
  }

.logo {
    font-weight: bold;
    font-size: 16px;
    color: var(--font-color-secondary);
}

.hero {
    width: inherit;
    /* background-image: url("../../images/default-image.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: var(--body-section-margin-lg);
    padding-right: var(--body-padding-lg);
    padding-bottom: var(--body-section-margin-lg);
    padding-left: var(--body-padding-lg);
}

.hero__text-container {
    width: 100%;
    max-width: var(--hero-text-max-width);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero button {
    margin-top: calc(var(--space-1) * 2);
    font-size: calc(var(--text-1) * 1.3);
    width: var(--width-primary-button);
}

.jumbo-card {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--body-padding-lg) * 2);
    max-width: var(--component-max-width);
    margin-top: 0;
    margin-right: var(--body-padding-lg);
    margin-bottom: var(--body-section-margin-lg);
    margin-left: var(--body-padding-lg);
}

.jumbo-card__image-container {
    /* width: inherit; */
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.jumbo-card__image-container img {
    width: 100%;
    height: 100%;
}

.jumbo-card p {
    width: inherit;
}

.tabs {
    width: calc(100% - var(--body-padding-lg) * 2);
    max-width: var(--component-max-width);
    margin-top: 0;
    margin-right: var(--body-padding-lg);
    margin-bottom: var(--body-section-margin-lg);
    margin-left: var(--body-padding-lg);
}

.tabs h3 {
    margin-bottom: 86px;
}

/* .paragraph-medium {
    width: 690px;
} */

.tabs p {
    width: inherit;
}

.tab-menu {
    width: inherit;
    display: flex;
    flex-direction: row;
}

button.tab-item {
    width: var(--width-tab-button);
    margin-bottom: 0;
    padding: var(--padding-tab-button);
    color: var(--color-tab-button);
    background-color: var(--bg-color-tab-button);
    border: none;
}

.tab-item:hover {
    background-color: var(--hover-bg-color-tab-button);
    color: var(--hover-color-tab-button);
}

button.tab-item:not(:last-child) {
    margin-right: var(--space-1);
}

.tab-menu button:disabled {
    background-color: var(--disabled-bg-color-tab-button);
    color: var(--disabled-color-tab-button);
}

.tab-menu button:hover:disabled {
    background-color: var(--disabled-bg-color-tab-button);
    color: var(--disabled-color-tab-button);
}

.tab-menu button.active {
    color: var(--active-color-tab-button);
    background-color: var(--active-bg-color-tab-button);
    border-bottom: var(--active-border-bottom-width) var(--border-style) var( --active-border-color-tab-button);
    font-weight: bold;
}

.tab-content {
    display: none;
    padding: calc(var(--body-padding-sm) * 2) 0px;
}

.table-border thead,
.table-border tbody,
.table-border tfoot,
.table-border tr,
.table-border th,
.table-border td {
    border-bottom: var(--border-bottom-table);
}

table input[type='checkbox'] {
    margin-bottom: 0;
}

.table-multiselect__checkbox-container {
    width: calc(var(--space-1)) * 2;
}

.table-wide__container {
    padding: 0 var(--body-padding-sm);
    margin-bottom: var(--body-section-margin-lg);
}

.table-wide {
    margin-bottom: var(--body-padding-lg);
    width: 100%;
}

table:not(.table-multiselect) tr:nth-child(even) {
    background-color: var(--table-zebra-striping-bg-color);
}

.table-small thead,
.table-defasmallult tbody,
.table-small tfoot,
.table-small tr,
.table-small th,
.table-small td {
    border-color: transparent;
}

.table-height-sm th {
    background-color: var(--bg-color-table-header);
}

.table-height-md tr, .table-height-md th, .table-height-md td {
    height: var(--table-height-md);
}

.table-height-sm tr, .table-height-sm th, .table-height-sm td  {
    height: var( --table-height-sm);
}

.table-height-lg tr, .table-height-lg th, .table-height-lg td {
    height: var(--table-height-lg);
}

.paragraph-medium p {
    width: inherit;
}

.horizontal-card {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-right: var(--body-padding-sm);
    margin-bottom: var(--body-section-margin-lg);
    margin-left: var(--body-padding-lg);
    width: calc(100% - var(--body-padding-lg) - var(--body-padding-sm));
}

.horizontal-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hotizontal-card__content {
    margin-right: var(--body-padding-sm);
}

.horizontal-card__text-container {
    margin-bottom: calc(var(--body-padding-sm) * 2);
}

.horizontal-card__text-container h5 {
    font-weight: bold;
}

.horizontal-card__text-container h5,
.horizontal-card__text-container p {
    width: inherit;
}

.horizontal-card__image-container {
    width: 50%;
    max-height: inherit;
}

.icon-card-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--section-margin);
    text-align: center;
}

.icon-card {
    width: var(--icon-card-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--body-padding-sm);
    margin-bottom: var(--body-section-margin-lg);
}

.icon-card .material-icons {
    font-size: 103px;
    margin-bottom: 24px;
}

.icon-card-react svg {
    font-size: 100px;
    margin-bottom: calc(var(--space-1) * 1.5);
}

.jumbo-image {
    width: inherit;
    margin: 0 var(--body-padding-sm) 60px var(--body-padding-sm);
}

.jumbo-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.grid-text {
    display: flex;
    flex-direction: row;
    margin: 0 var(--body-padding-sm);
    width: inherit;
}

.grid-2x1 {
    display: flex;
    flex-direction: row;
    margin: 0 var(--body-padding-sm);
    width: inherit;
}

.grid-text-title {
    width: calc(50% - var(--body-padding-sm));
    padding-right: 10%;
}

.grid-text-title h3 {
    max-width: var(--grid-text-title-max-width);
}

.grid-text__child-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: calc(var(--space-1) * 2);
    column-gap: calc(var(--space-1) * 1.2);
    width: 50%;
    margin-bottom: var(--section-margin);
}

.section-title h2 {
    text-align: center;
    margin-bottom: var(--body-section-margin-lg);
}

.card {
    border-radius: 50px;
}

.card-group {
    width: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: calc(var(--space-1) * 1.2);
    row-gap: calc(var(--space-1) * 1.2);
    margin: 0 var(--body-padding-sm) var(--body-section-margin-lg) var(--body-padding-sm);
}

.card-group .card {
    width: 100%;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text__container {
    padding-top: calc(var(--body-padding-sm) * 2);
    padding-right: calc(var(--body-padding-sm) * 1.5);
    padding-bottom: calc(var(--body-padding-sm) * 2);;
    padding-left: calc(var(--body-padding-sm) * 1.5);
    background-color: var(--bg-color-card);
}

.sticky-scroll {
    margin-bottom: var(--section-margin);
    margin: 0 var(--body-padding-sm) var(--body-section-margin-lg) var(--body-padding-sm);
}

.sticky-content {
    position: sticky;
    top: 94px;
    z-index: 0;
    width: 60%;
}

.sticky-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: var(--body-padding-sm);
}

.sticky-scroll-images {
    width: 40%;
    margin-left: auto;
    position: relative;
    top: -30px;
    padding-left: 137px;
    padding-left: 10%;
}

.sticky-scroll-images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: calc(var(--space-1) * 1.4);
}

.grid-buttons {
    padding-left: 0 var(--body-padding-lg);
    max-width: var(--component-max-width);
    margin: auto;
    margin-bottom: var(--body-section-margin-lg);
    text-align: center;
}

.grid-buttons__text {
    width: 50%;
}

.grid-buttons__text h3 {
    max-width: var(--grid-text-title-max-width);
}

.grid-buttons__buttons {
    display: flex;
    flex-direction: row;
    margin-left: calc(var(--space-1) * 4.7);
    align-items: center;
}

.grid-buttons__buttons button {
    width: var(--width-primary-button);
}

.grid-buttons__buttons button:first-child {
    margin-right: var(--space-1);
}

.large-table__container {
    padding: 0 var(--body-padding-sm);
    margin-bottom: var(--body-section-margin-lg);
}

.large-table__container h4 {
    margin-bottom: calc(var(--space-1) * 2);
    text-align: center;
}

.form__conatiner {
    max-width: 930px;
    margin-left: auto;
    padding: var(--body-padding-sm);
    margin-bottom: var(--body-section-margin-lg);
}

.form__container h3,
.form__container p {
    width: var(--component-max-width);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: calc(var(--space-1) * 2.2);
}

form label {
    margin-bottom: 8px;
    font-size: 14px;
    margin-left: calc(var( --space-1) / 6);
}

.form__buttons {
    margin-left: auto;
    margin-top: calc(var(--space-1) * 2);
}

.form__buttons button {
    width: var(--width-primary-button);
    margin-left: var(--body-padding-sm);
}

footer {
    display: flex;
    flex-direction: column;
    /* padding: 38px 37px 38px 32px; */
    padding: var(--padding-footer);
    background-color: var(--bg-color-footer);
    color: var(--color-footer);
}

.footer__content h6 {
    font-weight: bold;
    color: var(--color-footer);
    margin-bottom: var(--space-1);
}

.footer__bottom a {
    color: var(--color-footer);
}

.footer__link-list {
    display: flex;
    flex-direction: column;
}

.footer__link-list a {
    margin-bottom: calc(var(--space-1) * .6);
    color: var(--color-footer);
}

.footer hr {
    color: var(--footer-hr-color);
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    border-top: 1px var(--color-footer) solid;
    padding-top: 14px;
}

.footer__bottom a {
    width: 318px;
}

.footer-legal {
    margin-left: 35px;
    width: 318px;
}

/*** Desktop First ***/
/* Smaller than Desktop HD */
@media (max-width: 1200px) {
    /* h1 { font-size: 4.5rem; line-height: 1.2; } */
  }
  
  /* Smaller than desktop */
  @media ( max-width: 992px ) {
    .hero {
      padding: 121px var(--body-padding-md) 121px var(--body-padding-md);
      margin-bottom: 0;
    }
  
    .jumbo-card {
      width: calc(100% - var(--body-padding-sm) * 2);
      margin-top: 0;
      margin-right: var(--body-padding-sm);
      margin-bottom: var(--section-margin);
      margin-left: var(--body-padding-sm);
    }

    .jumbo-card__image-container {
        width: 100%;
    }

    .jumbo-card__image-container img{
        width: 100%;
    }

    .jumbo-card p {
        width: 75%;
        margin-left: calc(var(--body-padding-md) - var(--body-padding-sm));
    }

    .tabs {
        width: inherit;
        margin-top: 0;
        margin-right: var(--body-padding-sm);
        margin-bottom: var(--section-small-margin);
        margin-left: var(--body-padding-sm);
    }

    .table__container {
        width: inherit;
        margin-top: 0;
        margin-right: var(--body-padding-sm);
        margin-bottom: var(--body-section-margin-sm);
        margin-left: var(--body-padding-sm);
    }

    .hotizontal-card__content {
        margin-top: var(--body-padding-sm);
        margin-right: var(--body-padding-sm);
        margin-bottom: var(--body-padding-sm);
        margin-left: 0;
    }

    .hotizontal-card__content {
        width: 50%;
    }

    .horizontal-card__image-container {
        width: 50%;
    }

    .horizontal-card__text-container {
        width: 100%;
    }

    .sticky-content {
        width: 50%;
    }

    .sticky-scroll-images {
        width: 50%;
        padding-left: var(--body-padding-sm);
    }

    .grid-buttons {
        flex-direction: column;
    }

    .grid-buttons__text {
        width: 100%;
    }

    .grid-buttons__text h3 {
        max-width: 100%;
        text-align: center;
    }

    .grid-buttons {
        margin-left: var(--body-padding-sm);
    }
    
    .grid-buttons__buttons {
        margin: auto;
        margin-top: calc(var(--body-padding-sm) * 2);
    }

    .form__conatiner {
        width: 100%;
    }
}
  
  /* Smaller than tablet */
  @media (max-width: 768px) {
    .hero {
        padding: var(--body-padding-sm);
        margin: var(--section-small-margin) 0;
    }

    .hero button {
        width: 100%;
    }

    .jumbo-card p {
        width: 100%;
        margin-left: 0;
    }
  
    .jumbo-card {
      margin-bottom: var(--section-small-margin);
    }

    .paragraph-medium {
        width: 100%;
    }

    button.tab-item:not(:last-child) {
        margin-right: calc(var(--body-padding-sm) / 2);
    }

    .table__container {
        margin-bottom: calc(var(--section-small-margin) * 2);
    }

    .horizontal-card {
        flex-direction: column-reverse;
        margin-bottom: var(--section-small-margin);
    }

    .horizontal-card__image-container {
        width: 100%;
    }

    .hotizontal-card__content {
        width: 100%;
    }

    .table-wide__container {
        overflow-x: scroll;
        margin-bottom: var(--section-small-margin);
    }

    .icon-card-group {
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: var(--section-small-margin);
    }

    .icon-card {
        width: 100%;
        height: 100%;
        margin-bottom: var(--body-padding-sm);
    }

    .grid-2x1 {
        flex-direction: column;
    }

    .grid-text-title {
        width: 100%;
    }

    .grid-text__child-grid {
        width: 100%;
    }

    .grid-text-title {
        padding-right: 0;
        margin-bottom: var(--body-padding-sm);
    }

    .grid-text__child-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: var(--body-padding-sm);
        column-gap: 18px;
        width: 100%;
        margin-bottom: var(--section-small-margin);
    }

    .section-title h2 {
        text-align: left;
        padding: 0 var(--body-padding-sm);
    }

    .card-group {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 17px;
        margin: 0 var(--body-padding-sm) calc(var(--section-small-margin)*2) var(--body-padding-sm);
    }

    .sticky-scroll {
        margin-bottom: var(--section-small-margin);
    }

    .sticky-content {
        width: 100%;
        position: static;
    }

    .sticky-content img,
    .sticky-content h3 {
        margin-bottom: var(--body-padding-sm);
    }

    .sticky-content h3 {
        margin-bottom: var(--body-padding-sm);
    }

    .sticky-scroll-images {
        /* width: 100%;
        padding-left: var(--body-padding-sm);
        top: 0;
        padding-left: 0; */
        display: none;
    }

    .grid-buttons {
        margin-bottom: var(--section-small-margin);
    }

    .grid-buttons__text h3 {
        text-align: left;
    }

    .grid-buttons__buttons {
        margin-left: 0;
        margin-right: 0;
    }

    .grid-buttons__buttons button {
        width: 100%;
    }

    .large-table__container {
        margin-bottom: var(--section-small-margin);
    }

    .large-table__container h4 {
        text-align: left;
    }

    .large-table__table-content {
        height: 343px;
        overflow: scroll;
    }

    .form__conatiner {
        margin-bottom: var(--section-small-margin);
    }

    .form__buttons {
        margin-left: 0;
    }

    .form__buttons button {
        margin-left: 0;
        width: calc(50% - var(--body-padding-sm) / 2);
    }

    .footer__content .three.columns{
        width: 50%;
        height: 250px;
    }
  }
  
  /* Mobile */
  @media (max-width: 576px) {
  }