/*
* Skeleton V1.0.0
* Copyright 2022, Teams Design
* www.teamsdesign.com
* 15/06/2022
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Variables
  - Typography
  - Spacing
  - Color
  - Layout
  - Default Light Mode
  - Designer Tool Light Mode
  - Input Range Slider Values
- App Global Styles
- Grid
- Base Styles
- Typography
- Fonts
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
  - Mobile First
  - Desktop First
*/

/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    /*______  Typography  ______*/
    --initialFontSize: 16px;
    --initialRatio: 1.3;

    --text-0: calc(var(--initialFontSize) / var(--initialRatio));
    --text-1: var(--initialFontSize);
    --text-2: calc(var(--text-1) * var(--initialRatio));
    --text-3: calc(var(--text-2) * var(--initialRatio));
    --text-4: calc(var(--text-3) * var(--initialRatio));
    --text-5: calc(var(--text-4) * var(--initialRatio));
    --text-6: calc(var(--text-5) * var(--initialRatio));
    --text-7: calc(var(--text-6) * var(--initialRatio));

    /*______  Spacing  ______*/
    --initialLineheight: 16px;
    --lineheightIncrement: 1.22;

    --space-0: calc(var(--space-1) / var(--lineheightIncrement));
    --space-1: calc(var(--initialLineheight));
    --space-2: calc(var(--space-1) * var(--lineheightIncrement));
    --space-3: calc(var(--space-2) * var(--lineheightIncrement));
    --space-4: calc(var(--space-3) * var(--lineheightIncrement));
    --space-5: calc(var(--space-4) * var(--lineheightIncrement));
    --space-6: calc(var(--space-5) * var(--lineheightIncrement));
    --space-7: calc(var(--space-6) * var(--lineheightIncrement));

    /*______  Color  ______*/
    --baseColor: hsl(var(--lightscaleHueIncrement), var(--lightscaleSaturationIncrement), var(--lightscaleLightnessIncrement));
    --initiallightHue: 223;
    --initiallightSaturation: 49%;
    --initiallightLightness: 45%;
    --lightscaleHueIncrement: 4;
    --lightscaleSaturationIncrement: 0%;
    --lightscaleLightnessIncrement: 7%;
    --light-0H: calc(var(--initiallightHue) - var(--lightscaleHueIncrement) / 1);
    --light1H: var(--initiallightHue);
    --light2H: calc(var(--initiallightHue) - var(--lightscaleHueIncrement) * 1);
    --light3H: calc(var(--initiallightHue) - var(--lightscaleHueIncrement) * 2);
    --light4H: calc(var(--initiallightHue) - var(--lightscaleHueIncrement) * 3);
    --light5H: calc(var(--initiallightHue) - var(--lightscaleHueIncrement) * 4);
    --light6H: calc(var(--initiallightHue) - var(--lightscaleHueIncrement) * 5);
    --light7H: calc(var(--initiallightHue) - var(--lightscaleHueIncrement) * 6);
    --light8H: calc(var(--initiallightHue) - var(--lightscaleHueIncrement) * 7);
    --light9H: calc(var(--initiallightHue) - var(--lightscaleHueIncrement) * 8);
    --light0S: calc(var(--initiallightSaturation) - var(--lightscaleSaturationIncrement) / 1);
    --light1S: var(--initiallightSaturation);
    --light2S: calc(var(--initiallightSaturation) - var(--lightscaleSaturationIncrement) * 1);
    --light3S: calc(var(--initiallightSaturation) - var(--lightscaleSaturationIncrement) * 2);
    --light4S: calc(var(--initiallightSaturation) - var(--lightscaleSaturationIncrement) * 3);
    --light5S: calc(var(--initiallightSaturation) - var(--lightscaleSaturationIncrement) * 4);
    --light6S: calc(var(--initiallightSaturation) - var(--lightscaleSaturationIncrement) * 5);
    --light7S: calc(var(--initiallightSaturation) - var(--lightscaleSaturationIncrement) * 6);
    --light8S: calc(var(--initiallightSaturation) - var(--lightscaleSaturationIncrement) * 7);
    --light9S: calc(var(--initiallightSaturation) - var(--lightscaleSaturationIncrement) * 8);
    --light0L: calc(var(--initiallightLightness) - var(--lightscaleLightnessIncrement) / 1);
    --light1L: var(--initiallightLightness);
    --light2L: calc(var(--initiallightLightness) - var(--lightscaleLightnessIncrement) * 1);
    --light3L: calc(var(--initiallightLightness) - var(--lightscaleLightnessIncrement) * 2);
    --light4L: calc(var(--initiallightLightness) - var(--lightscaleLightnessIncrement) * 3);
    --light5L: calc(var(--initiallightLightness) - var(--lightscaleLightnessIncrement) * 4);
    --light6L: calc(var(--initiallightLightness) - var(--lightscaleLightnessIncrement) * 5);
    --light7L: calc(var(--initiallightLightness) - var(--lightscaleLightnessIncrement) * 6);
    --light8L: calc(var(--initiallightLightness) - var(--lightscaleLightnessIncrement) * 7);
    --light9L: calc(var(--initiallightLightness) - var(--lightscaleLightnessIncrement) * 8);
    --light-00: hsl(var(--light0H), var(--light0S), var(--light0L));
    --light-01: hsl(var(--light1H), var(--light1S), var(--light1L));
    --light-02: hsl(var(--light2H), var(--light2S), var(--light2L));
    --light-03: hsl(var(--light3H), var(--light3S), var(--light3L));
    --light-04: hsl(var(--light4H), var(--light4S), var(--light4L));
    --light-05: hsl(var(--light5H), var(--light5S), var(--light5L));
    --light-06: hsl(var(--light6H), var(--light6S), var(--light6L));
    --light-07: hsl(var(--light7H), var(--light7S), var(--light7L));
    --light-08: hsl(var(--light8H), var(--light8S), var(--light8L));
    --light-09: hsl(var(--light9H), var(--light9S), var(--light9L));
    --light-increment-60: hsl(var(--light1H), var(--light1S), calc(var(--initiallightLightness) + 15%));
    --light-increment-70: hsl(var(--light1H), var(--light1S), calc(var(--initiallightLightness) + 25%));

    /* --greyscaleHueIncrement: 4;
    --greyscaleSaturationIncrement: 15%;
    --greyscaleLightnessIncrement: 80%; */

    --grey-00: #fff;
    --grey-01: hsl(var(--initiallightHue), 17%, 98%);
    --grey-02: hsl(var(--initiallightHue), 16%, 93%);
    --grey-03: hsl(var(--initiallightHue), 14%, 89%);
    --grey-04: hsl(var(--initiallightHue), 14%, 83%);
    --grey-05: hsl(var(--initiallightHue), 11%, 71%);
    --grey-06: hsl(var(--initiallightHue), 7%, 46%);
    --grey-07: hsl(var(--initiallightHue), 9%, 31%);
    --grey-08: hsl(var(--initiallightHue), 10%, 23%);
    --grey-09: hsl(var(--initiallightHue), 11%, 15%);
    --grey-10: #000;

    /*______  Layout  ______*/
    --initialBorderRadius: 0px;
    --initialBorder: 1px;

    --td-border-width: var(--initialBorder);
    --td-border-radius: var(--initialBorderRadius);

    /*______  Default Light Mode  ______*/
    --font-sans-serif: Gotham, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-color-primary: var(--grey-09);
    --font-color-secondary: var(--light-01);
    --body-font-family: var(--font-sans-serif);
    --body-font-size: var(--text-1);
    --body-font-weight: 400;
    --body-lineheight: var(--lineheightIncrement); /* must 1.5 */
    --body-bg-color: var(--grey-00);
    --body-color: var(--grey-09);
    /* --body-dark-mode-bg-color: var(--grey-09); */
    /* --body-dark-mode-color: var(--grey-01); */
    --body-padding-sm: var(--space-1);
    --body-padding-md: calc(var(--space-5) + var(--space-1));
    --body-padding-lg: calc(var(--space-6) + var(--space-2));
    --body-section-margin-sm: calc(var(--space-5) + var(--space-3));
    --body-section-margin-md: calc(var(--space-6) + var(--space-2));
    --body-section-margin-lg: calc(var(--space-7) * 2.5);
    --component-max-width: 930px;

    --bg-color-primary-button: var(--light-01);
    --bg-color-secondary-button: var(--grey-00);
    --border-color-primary-button: var(--light-01);
    --border-color-secondary-button: var(--light-01);
    --color-primary-button: var(--grey-01);
    --color-secondary-button: var(--light-01);
    --font-size-primary-button: var(--text-1);
    --font-size-secondary-button: var(--text-1);
    --border-width-primary-button: var(--border-width);
    --border-width-secondary-button: var(--border-width);
    --border-style-primary-button: var(--border-style);
    --border-style-secondary-button: var(--border-style);
    --border-radius-primary-button: var(--border-radius);
    --border-radius-secondary-button: var(--border-radius);
    --padding-primary-button:  0 calc(var(--space-1) / 2);
    --padding-secondary-button:  0 calc(var(--space-1) / 2);
    --width-primary-button: 236px; /*tbd*/
    --width-secondary-button: 236px; /*tbd*/
    --height-primary-button: calc(var(--space-1) * 3.1);
    --height-secondary-button: calc(var(--space-1) * 3.1);
    --margin-button: calc(var(--space-1) / 2);
    --hover-bg-color-primary-button: var(--light-increment-60);
    --hover-bg-color-secondary-button: var(--light-01);
    --hover-border-color-primary-button: var(--light-03);
    --hover-border-color-secondary-button: var(--light-01);
    --hover-color-primary-button: var(--grey-01);
    --hover-color-secondary-button: var(--grey-00);
    --active-bg-color-primary-button: var(--light-01);
    --active-bg-color-secondary-button: var(--light-00);
    --active-border-color-primary-button: var(--light-01);
    --active-border-color-secondary-button: var(--light-00);
    --disabled-color-primary-button: var(--light-01);
    --disabled-color-secondary-button: var(--light-increment-70);
    --disabled-bg-color-primary-button: var(--light-01);
    --disabled-bg-color-secondary-color: var(--light-increment-70);
    --disabled-border-color-primary-button: var(--light-01);
    --disabled-border-color-secondary-button: var(--light-increment-70);
    /* --width-tab-button: 220px; */
    --width-tab-button: calc(var(--width-primary-button) * 0.9);
    --padding-tab-button: 0 16px;
    --bg-color-tab-button: var(--grey-02);
    --border-color-tab-button: var(--light-01);
    --color-tab-button: var(--light-01);
    --hover-bg-color-tab-button: var(--grey-03);
    --hover-color-tab-button: var(--light-01);
    --hover-border-color-tab-button: var(--grey-03);
    --active-bg-color-tab-button: var(--grey-02);
    --active-color-tab-button: var(--light-01);
    --active-border-color-tab-button: var(--light-01);
    --active-border-bottom-width: 4px;
    --disabled-color-tab-button: var(--grey-05);
    --disabled-bg-color-tab-button: var(--grey-03);
    --disabled-border-color-tab-button: var(--light-01);

    --color-label: var(--grey-09);
    --link-color: var(--grey-09);
    --hover-link-color:  var(--grey-09);
    --active-link-font-weight: 700;
    --highlight-bg: #fff3cd;
    --border-style: solid;
    --border-width: var(--initialBorder);
    --border-radius: var(--initialBorderRadius);

    --bg-color-card: var(--grey-03);
    --color-card: var(--grey-09);
    --padding-card: calc(var(--space-1)) var(--body-padding-sm);
    --col-gap-grid: var(--body-padding-sm);
    --row-gap-grid: var(--body-padding-sm);
    --icon-card-width: 338px;
    --border-radius-card: var(--border-radius);

    --table-height-sm: 32px;
    --table-height-md: 40px;
    --table-height-lg: 48px;
    --font-weight-header-table: 700;
    --caption-table-padding: calc(var(--space-1) - var(--space-1) / 2) 0;
    --table-border: none;
    --table-padding: 0 calc(var(--space-1) / 3);
    --font-size-table: 14px;
    --lineheight-table: 24px;
    --border-bottom-table: 1px solid var(--grey-09);
    --font-weight-header-table: bold;
    --table-row-height:  calc(var(--space-1) * 2);
    --table-zebra-striping-bg-color:  var(--grey-02);
    --bg-color-table-header: var(--grey-04);

    --list-group-margin-bottom:  calc(var(--space-1) - var(--space-1) / 2);
    --list--margin-bottom: calc(var(--space-1) - var(--space-1) / 2);
    --list-style: circle inside;

    --code-font-size: calc(var(--text-1) / 1.8);
    --code-color: var(--body-color);
    --bg-color-code: var(--grey-02);

    --input-height: calc(var(--space-1) * 2);
    --input-padding: calc(var(--space-1) / 2);
    --bg-color-input: var(--grey-02);
    --border-color-input: var(--grey-02);
    --color-input: var(--grey-08);
    --placeholder-color-input: var(--grey-06);
    --font-family-input: var(--font-sans-serif);
    --font-size-input: var(--text-1);
    --border-width-input: var(--border-width);
    --border-style-input: var(--border-style);
    --border-radius-input: var(--border-radius);
    --textarea-height: var(--space-7);
    --textarea-padding: calc(var(--space-1) / 2);
    --bg-color-textarea: var(--grey-02);
    --border-color-textarea: var(--grey-02);
    --color-textarea: var(--grey-08);
    --placeholder-color-textarea: var(--grey-06);
    --font-family-textarea: var(--font-sans-serif);
    --font-size-textarea: var(--text-1);
    --border-width-textarea: var(--border-width);
    --border-style-textarea: var(--border-style);
    --border-radius-textarea: var(--border-radius);
    --input-margin-bottom: calc(var(--space-1) / 2);
    --element-margin: 0 0 calc(var(--space-1) - var(--space-1) / 2);

    --hr-margin: var(--space-1) 0;
    --hr-border-top: 1px solid;
    --hr-opacity: 0.25;

    --bg-color-header: var(--grey-00);
    --color-header: var(--grey-09);
    --height-header: calc(var(--space-1) * 2.7);
    --padding-header: var(--initialLineheight);
    --bg-color-header-link: var(--grey-00);
    --color-header-link: var(--grey-09);
    --hover-bg-color-header-link: var(--grey-00);
    --hover-color-header-link: var(--light-01);
    --active-bg-color-header-link: var(--grey-00);
    --active-color-header-link: var(--light-01);
    --padding-header-link: 0 var(--space-1);
    --nav-margin-right-link:  calc(var(--space-1) * 1.5);
    --nav-font-weight-link: 400;

    --hero-text-max-width: 812px;
    --grid-text-title-max-width: 576px;

    --bg-color-footer: var(--light-01);
    --color-footer: var(--grey-01);
    --padding-footer: calc(var(--body-padding-sm) * 2) var(--body-padding-sm);

    --box-shadow-color: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    --transition-fast: all 200ms cubic-bezier(0.235, 0.615, 0.185, 0.995);
    --transition-slow: all 500ms cubic-bezier(0.235, 0.615, 0.185, 0.995);

    --blend-mode: multiply;
    --display-light: inherit;
    --display-dark: none;

    /*______  Designer Tool Light Mode  ______*/
    --td-blue: hsl(223, 49%, 45%);
    --td-light-blue: hsl(223, 49%, 80%);
    --td-mid-blue: hsl(223, 56%, 67%);
    --td-dark-blue: hsl(220, 23%, 36%);
    --td-light1H: 223;
    --td-light1S: 49%;
    --td-light1L: 45%;

    --td-grey-01: hsl(223, 17%, 98%);
    --td-grey-02: hsl(223, 16%, 93%);
    --td-grey-03: hsl(223, 14%, 89%);
    --td-grey-04: hsl(223, 14%, 83%);
    --td-grey-05: hsl(223, 11%, 71%);
    --td-grey-06: hsl(223, 7%, 46%);
    --td-grey-07: hsl(223, 9%, 31%);
    --td-grey-08: hsl(223, 10%, 23%);
    --td-grey-09: hsl(223, 11%, 15%);

    --tool-font-color-primary: #22242a;
    --tool-font-color-secondary: #353841;
    --tool-font-color-primary-footer: #22242a;
    --tool-font-color-secondary-footer: #6d727e;
    --tool-font-color-button: var(--td-blue);
    --tool-font-color-disable: #afb7ca;
    --tool-bg-color-body: #f9fafb;
    --tool-bg-color-header: #f9fafb;
    --tool-bg-color-footer: #22242a;
    --tool-bg-color-modal: var(--td-lightgrey-transparent);
    --tool-bg-color-card: #f9fafb;
    --tool-bg-color-button: var(--grey-00);
    --tool-blend-mode: multiply;
    --tool-display-light: inherit;
    --tool-display-dark: none;

    --tool-bg-color-code: #eaecf0;
    --tool-border-color-primary: #22242a;
    --tool-border-color-secondary: #eaecf0;
    --tool-box-shadow-color: var(--box-shadow-color);
    --tool-link-color: var(--td-blue);
    --tool-link-hover-color: var(--td-blue);
    --tool-progress-bar-bg-color: var(--td-light-blue);
    --tool-progress-bar-color: var(--td-blue);
    --tool-toggle-button-color: var(--td-grey-06);
    --tool-button-color: var(--td-blue);
    --tool-button-bg-color: var(--tool-bg-color-body);
    --tool-icon-button-code-color: var(var(--light-08));
    

    /*______  Input Range Slider Values  ______*/
    --factorPixelValue: 1.3px;
    --lineheightPixelValue: 16px;
    --lineheightIncrementPixelValue: 1.22px;
    --huePixelValue: 223px;
    --saturationPixelValue: 49px;
    --lightnessPixelValue: 45px;
}

[data-theme="dark"] {
    --font-color-primary: var(--grey-01);
    --font-color-secondary: var(--light-increment-70);
    /* --body-bg-color: var(--body-dark-mode-bg-color); */
    --body-bg-color: var(--grey-09);
    --body-color: var(--grey-01);
    --bg-color-primary-button: var(--light-01);
    --bg-color-secondary-button: var(--light-00);
    --border-color-primary-button: var(--light-01);
    --border-color-secondary-button: var(--light-00);
    --color-primary-button: var(--grey-01);
    --color-secondary-button: var(--grey-00);
    --hover-bg-color-primary-button: var(--light-03);
    --hover-bg-color-secondary-button: var(--light-02);
    --hover-border-color-primary-button: var(--light-03);
    --hover-border-color-secondary-button: var(--light-02);
    --hover-color-primary-button: var(--grey-01);
    --hover-color-secondary-button: var(--grey-00);
    --active-bg-color-primary-button: var(--light-01);
    --active-bg-color-secondary-button: var(--light-00);
    --active-border-color-primary-button: var(--light-01);
    --active-border-color-secondary-button: var(--light-00);
    --disabled-color-primary-button: var(--light-01);
    --disabled-color-secondary-button: var(--light-increment-70);
    --disabled-bg-color-primary-button: var(--light-01);
    --disabled-bg-color-secondary-color: var(--light-increment-70);
    --disabled-border-color-primary-button: var(--light-01);
    --disabled-border-color-secondary-button: var(--light-increment-70);
    --bg-color-tab-button: var(--grey-02);
    --border-color-tab-button: var(--light-01);
    --color-tab-button: var(--light-01);
    --hover-bg-color-tab-button: var(--grey-03);
    --hover-color-tab-button: var(--light-01);
    --hover-border-color-tab-button: var(--grey-03);
    --active-bg-color-tab-button: var(--grey-02);
    --active-color-tab-button: var(--light-01);
    --active-border-color-tab-button: var(--light-01);
    --disabled-color-tab-button: var(--grey-06);
    --disabled-bg-color-tab-button: var(--grey-07);
    --disabled-border-color-tab-button: var(--grey-05);
    --color-label: var(--grey-01);
    --link-color: var(--grey-01);
    --hover-link-color:  var(--grey-01);
    --bg-color-card: var(--grey-06);
    --color-card: var(--grey-01);
    /* --border-radius-card: var(--border-radius); */
    --border-bottom-table: 1px solid var(--grey-07);
    --table-zebra-striping-bg-color:  var(--grey-08);
    --bg-color-table-header: var(--grey-06);
    --code-color: var(--body-color);
    --bg-color-code: var(--grey-08);
    --bg-color-input: var(--grey-02);
    --border-color-input: var(--grey-02);
    --color-input: var(--grey-08);
    --placeholder-color-input: var(--grey-06);
    --bg-color-textarea: var(--grey-02);
    --border-color-textarea: var(--grey-02);
    --color-textarea: var(--grey-08);
    --placeholder-color-textarea: var(--grey-06);
    --bg-color-header: var(--grey-00);
    --color-header: var(--grey-09);
    --bg-color-header-link: var(--grey-09);
    --color-header-link: var(--grey-01);
    --hover-bg-color-header-link: var(--grey-09);
    --hover-color-header-link: var(--light-01);
    --active-bg-color-header-link: var(--grey-00);
    --active-color-header-link: var(--light-01);
    --bg-color-footer: var(--light-04);
    --color-footer: var(--grey-01);
    --box-shadow-color: 0 1px 2px 0 rgba(67, 72, 77, 0.3), 0 2px 6px 2px rgba(158, 172, 181, 0.15);

    /* Designer Tool Dark Mode */
    /* --tool-font-color-primary: #22242a; */
    --tool-font-color-primary: #f9fafb;
    --tool-font-color-secondary: #f9fafb;
    --tool-font-color-primary-footer: #f9fafb;
    --tool-font-color-secondary-footer: #6d727e;
    --tool-font-color-button: var(--td-light-blue);
    --tool-font-color-disable: #4e535c;
    /* --tool-bg-color-body: #f9fafb; */
    --tool-bg-color-body: #131418;
    --tool-bg-color-header: #131418;
    --tool-bg-color-footer: #22242a;
    --tool-bg-color-modal: var(--td-lightgrey-transparent);
    --tool-bg-color-card: #131418;
    --tool-bg-color-button: var(--grey-00);
    --tool-blend-mode: multiply;
    --tool-display-light: inherit;
    --tool-display-dark: none;

    --tool-bg-color-code: #22242a;
    --tool-border-color-primary: #f9fafb;
    --tool-border-color-secondary: #eaecf0;
    --tool-box-shadow-color: var(--box-shadow-color);
    --tool-link-color: var(--td-light-blue);
    --tool-link-hover-color: var(--td-light-blue);
    --tool-progress-bar-bg-color: var(--td-dark-blue);
    --tool-progress-bar-color: var(--td-light-blue);
    --tool-toggle-button-color: var(--td-grey-06);
    --tool-button-color: var(--td-blue);
    --tool-button-bg-color: var(--tool-bg-color-body);
    --tool-icon-button-code-color: var(var(--light-01));

    --blend-mode: screen;
    --display-light: none;
    --display-dark: inherit;
}

/* App Global Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* .page-container {
    width: calc(100vw - 320px);
} */

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

body {
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.column:first-child,
.columns:first-child {
  margin-left: 0;
}
.one.column,
.one.columns {
  width: 8.333333333333%;
}
.two.columns {
  width: 16.666666666666667%;
}
.three.columns {
  width: 25%;
}
.four.columns {
  width: 33.333333333333333%;
}
.five.columns {
  width: 41.333333333333337%;
}
.six.columns {
  width: 50%;
}
.seven.columns {
  width: 58.333333333333333%;
}
.eight.columns {
  width: 16.666666666666667%;
}
.nine.columns {
  width: 75%;
}
.ten.columns {
  width: 83.333333333333333%;
}
.eleven.columns {
  width: 91.666666666666667%;
}
.twelve.columns {
  width: 100%;
  margin-left: 0;
}
.one-third.column {
  width: 33.333333333333333%;
}
.two-thirds.column {
  width: 66.666666666666667%;
}
.one-half.column {
  width: 50%;
}

/* Offsets */
.offset-by-one.column,
.offset-by-one.columns {
  margin-left: 8.66666666667%;
}
.offset-by-two.column,
.offset-by-two.columns {
  margin-left: 17.3333333333%;
}
.offset-by-three.column,
.offset-by-three.columns {
  margin-left: 26%;
}
.offset-by-four.column,
.offset-by-four.columns {
  margin-left: 34.6666666667%;
}
.offset-by-five.column,
.offset-by-five.columns {
  margin-left: 43.3333333333%;
}
.offset-by-six.column,
.offset-by-six.columns {
  margin-left: 52%;
}
.offset-by-seven.column,
.offset-by-seven.columns {
  margin-left: 60.6666666667%;
}
.offset-by-eight.column,
.offset-by-eight.columns {
  margin-left: 69.3333333333%;
}
.offset-by-nine.column,
.offset-by-nine.columns {
  margin-left: 78%;
}
.offset-by-ten.column,
.offset-by-ten.columns {
  margin-left: 86.6666666667%;
}
.offset-by-eleven.column,
.offset-by-eleven.columns {
  margin-left: 95.3333333333%;
}

.offset-by-one-third.column,
.offset-by-one-third.columns {
  margin-left: 34.6666666667%;
}
.offset-by-two-thirds.column,
.offset-by-two-thirds.columns {
  margin-left: 69.3333333333%;
}

.offset-by-one-half.column,
.offset-by-one-half.columns {
  margin-left: 52%;
}
 

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

html {}
body {
    margin: 0;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-lineheight);
    color: var(--td-body-color);
    background-color: var(--body-bg-color);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: var(--grey-10);
}
main {
    padding: 0;
}
  
  
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500; 
    /* line-height: var(--initialLineheight); */
    color: var(--body-color);
}

h1 { 
    font-size: var(--text-7);
    /* line-height: var(--space-7); */
    /* line-height: calc(var(--space-1) * 5); */
    line-height: var(--lineheightIncrement);
}
  
h2 {
    font-size: var(--text-6); 
    /* line-height: calc(var(--space-1 * 4)); */
    line-height: var(--lineheightIncrement);
}
  
h3 { 
    font-size: var(--text-5);
    /* line-height: calc(var(--space-5 * 2)); */
    /* line-height: var(--space-4); */
    line-height: var(--lineheightIncrement);
}
  
h4 { 
    font-size: var(--text-4);
    /* line-height: var(--space-4);  */
    line-height: var(--lineheightIncrement);
}
  
h5 { 
    font-size: var(--text-3);
    /* line-height: var(--space-3);  */
    line-height: var(--lineheightIncrement);
}
  
h6 { 
    font-size: var(--text-2);
    /* line-height: var(--space-2);  */
    line-height: var(--lineheightIncrement);
}
  
p {
    font-size: var(--text-1);
    /* line-height: calc(var(--space-1) * 1.2); */
    line-height: var(--lineheightIncrement);
    margin-top: 0;
    margin-bottom: calc(var(--space-2) - var(--space-2) / 2);
}

abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    font-style: italic;
    font-weight: 100;
}

address {
    margin-bottom: calc(var(--space-2) - var(--space-2) / 2);
    font-style: normal;
    line-height: inherit;
}

b,
strong {
    font-weight: bolder;
}

mark {
    background-color: var(--highlight-bg);
}

kbd {
    font-size: calc(var(--body-font-size) / 1.8);
    color: var(--body-bg-color);
    background-color: var(--body-bg-color);
    border-radius: 0;
}

kbd kbd {
    padding: 0;
    font-size: calc(var(--space-2) - var(--space-2) / 2);
}


/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Gotham */
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-Book.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-Black.otf');
    font-weight: 800;
    font-style: normal;
}

/* Pangea */
@font-face {
  font-family: 'Pangea';
  src: url('./fonts/Pangea-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pangea';
  src: url('./fonts/Pangea-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pangea';
  src: url('./fonts/Pangea-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pangea';
  src: url('./fonts/Pangea-Medium.otf');
  font-weight: 500;
  font-style: normal;
}  

@font-face {
  font-family: 'Pangea';
  src: url('./fonts/Pangea-SemiBold.otf');
  font-weight: 600;
  font-style: normal;
}
  
  
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--hover-link-color);
}
  
  
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: var(--height-primary-button);
    min-height: 30px;
    max-height: 60px;
    padding: var(--padding-primary-button);
    color: var(--color-primary-button);
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    border-width: var(--border-width);
    border-style: var(--border-style);
    background-color: var(--bg-color-primary-button);
    border-color: var(--border-color-primary-button);
    border-radius: var(--border-radius-primary-button);
}
 
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: var(--hover-color-primary-button);
    border-color: var(--hover-bg-color-primary-button);
    background-color: var(--hover-bg-color-primary-button);
    outline: 0; 
}

button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: var(--color-primary-button);
    background-color: var(--bg-color-primary-button);
    border-color: var(--border-color-primary-button);
}

button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: var(--hover-color-primary-button);
  border-color: var(--hover-bg-color-primary-button);
  background-color: var(--hover-bg-color-primary-button);
}

button.button-secondary,
input[type="submit"].button-secondary,
input[type="reset"].button-secondary,
input[type="button"].button-secondary {
    color: var(--color-secondary-button);
    background-color: var(--bg-color-secondary-button);
    border-color: var(--border-color-secondary-button);
}

button.button-secondary:hover,
input[type="submit"].button-secondary:hover,
input[type="reset"].button-secondary:hover,
input[type="button"].button-secondary:hover,
button.button-secondary:focus,
input[type="submit"].button-secondary:focus,
input[type="reset"].button-secondary:focus,
input[type="button"].button-secondary:focus {
    color: var(--hover-color-secondary-button);
    background-color: var(--hover-bg-color-secondary-button);
    border-color: var(--hover-border-color-secondary-button); 
}

button:disabled,
button.button-primary:disabled {
  background-color: var(--disabled-bg-color-primary-button);
  color: var(--disabled-color-primary-button);
  border-color: var(--disabled-border-color-primary-button);
  cursor: not-allowed;
}

button.button-secondary:disabled {
    background-color: var(--disabled-bg-color-secondary-color);
    color: var(--disabled-color-secondary-button);
    border-color: var(--disabled-border-color-secondary-button);
    cursor: not-allowed;
}

[role=button] {
    cursor: pointer;
}

select {
    word-wrap: normal;
}

select:disabled {
    opacity: 1;
}
  
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: var(--input-height);
    padding: var(--input-padding);
    background-color: var(--bg-color-input);
    border-color: var(--border-color-input);
    border-width: var(--border-width-input);
    border-style: var(--border-style-input);
    border-radius: var(--td-border-radius);
    box-shadow: none;
    box-sizing: border-box;
    font-family: var(--font-family-input);
    font-size: var(--font-size-input);
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeholder-color-input);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--placeholder-color-input);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--placeholder-color-input);
}

textarea {
    height: var(--textarea-height);
    min-height: calc(var(--space-1) * 2);
    width: 100%;
    resize: vertical;
    padding: var(--textarea-padding);
    font-family: var(--font-family-textarea);
    font-size: var(--font-size-textarea);
}

textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeholder-color-textarea);
  opacity: 1; /* Firefox */
}

textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--placeholder-color-textarea);
}

textarea::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--placeholder-color-textarea);
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  background-color: var(--bg-color-input);
  border-color: var(--border-color-input);
  border-width: var(--border-width-input);
  border-style: var(--border-style-input);
  border-radius: var(--td-border-radius);
  outline: 0;
}

label {
      display: inline-block;
}

legend {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: var(--space-1);
    font-size: inherit;
    line-height: inherit;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline; 
}

label > .label-body {
    display: inline-block;
    margin-left: calc(var( --space-1) / 3);
    font-weight: normal; 
}
  
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    list-style: var(--list-style); 
}

ol {
    list-style: var(--list-style); 
}

ol, ul {
    padding-left: 0;
    margin-top: 0; 
    list-style:  var(--list-style);
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: var(--list-group-margin-bottom);
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0; 
}

dt {
    font-weight: 700;
}
  
dd {
    margin-bottom: var(--list-group-margin-bottom);
    margin-left: 0;
}

li {
    margin-bottom: var(--list--margin-bottom); 
}
  
  
/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
pre {
    display: block;
    margin-top: 0;
    margin-bottom: calc(var(--space-1) - var(--space-1) / 2);
    /* overflow: auto; */
    font-size: calc(var(--text-1) / 1.8);
}
pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}
  
code {
    font-size: var(--code-font-size);
    color: var(--code-color);
    word-wrap: break-word;
}
a > code {
    color: inherit;
}
  
  
/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
    caption-side: bottom;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    /* min-width: 100%; */
    table-layout: auto;
    overflow: auto;
    width: 100%;
    /* display: block; */
    position: relative;
    height: 100%;
    white-space: nowrap;
}

caption {
    /* padding-top: calc(var(--space-1) - var(--space-1) / 2);
    padding-bottom: calc(var(--space-1) - var(--space-1) / 2); */
    padding: var(--caption-table-padding);
    color: inherit;
    text-align: left;
    font-size: inherit;
}

thead,
tbody,
tfoot,
tr,
th,
td {
    border: none;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    padding: var(--table-padding);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: var(--lineheight-table);
    font-size: var(--font-size-table);
    height: var(--table-height-lg);
}

th {
    border-bottom: var(--border-bottom-table);
    z-index: 2;
    cursor: pointer;
    font-weight: var(--font-weight-header-table);
}

tr {
    position: relative;
    cursor: pointer;
    height: var(--table-row-height);
}

tr:nth-child(even) {
    background-color: var(--table-zebra-striping-bg-color);
}

  
/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
    margin-bottom: var(--margin-button);
}

input,
textarea,
select,
fieldset {
    margin-bottom: var(--input-margin-bottom);
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin: var(--element-margin); 
}
  
  
/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  .u-full-width {
    width: 100%;
    box-sizing: border-box; }
  .u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; }
  .u-pull-right {
    float: right; }
  .u-pull-left {
    float: left; }
  
  
/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    margin: var(--hr-margin);
    color: inherit;
    border: 0;
    border-top: var(--hr-border-top);
    opacity: var(--hr-opacity);
}
  
  
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  /* Self Clearing Goodness */
  .container:after,
  .row:after,
  .u-cf {
    content: "";
    display: table;
    clear: both; }
  
  
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*______  Mobile First  ______*/
/* Larger than mobile */
@media (min-width: 576px) {}
  
/* Larger than tablet */
@media (min-width: 768px) {}
  
/* Larger than desktop */
@media (min-width: 992px) {
    .page-container {
        width: 100vw;
    }
} 
/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/*______  Desktop First  ______*/
/* Smaller than Desktop HD */
@media (max-width: 1200px) {
}

/* Smaller than desktop */
@media (max-width: 992px ) {
}

/* Smaller than tablet */
@media (max-width: 768px) {
}

/* Mobile */
@media (max-width: 576px) {
}